@import "../../styles/change";

.change {
  .group1 {
    &.original {
      background-color: change(#4a5e8e, $red: 25, $blue: 230, $green: 17);
    }

    &.override {
      background-color: change(var(--primary-color), $red: 25, $blue: 230, $green: 17);
    }
  }

  .group2 {
    &.original {
      background-color: change(#508e4b, $red: 25, $blue: 230, $green: 17, $alpha: 0.3);
    }

    &.override {
      background-color: change(var(--secondary-color), $red: 25, $blue: 230, $green: 17, $alpha: 0.3);
    }
  }

  .group3 {
    &.original {
      background-color: change(#4a5e8e, $hue: 255, $saturation: 15%, $lightness: 55%);
    }

    &.override {
      background-color: change(var(--primary-color), $hue: 255, $saturation: 15%, $lightness: 55%);
    }
  }

  .group4 {
    &.original {
      background-color: change(#508e4b, $hue: 255, $saturation: 15%, $lightness: 55%, $alpha: 0.7);
    }

    &.override {
      background-color: change(var(--secondary-color), $hue: 255, $saturation: 15%, $lightness: 55%, $alpha: 0.7);
    }
  }
}