@import "../../styles/alpha";
@import "../../styles/red";
@import "../../styles/green";
@import "../../styles/blue";

.rgba {
  .group1 {
    &.original {
      background-color: rgba(74, 94, 142, 1);
    }

    &.override {
      background-color: rgba(red(var(--primary-color)), green(var(--primary-color)), blue(var(--primary-color)), alpha(var(--primary-color)));
    }
  }

  .group2 {
    &.original {
      background-color: rgba(74, 94, 142, 0.8);
    }

    &.override {
      background-color: rgba(red(var(--primary-color)), green(var(--primary-color)), blue(var(--primary-color)), 0.8);
    }
  }

  .group3 {
    &.original {
      background-color: rgba(80, 142, 75, 1);
    }

    &.override {
      background-color: rgba(red(var(--secondary-color)), green(var(--secondary-color)), blue(var(--secondary-color)), alpha(var(--secondary-color)));
    }
  }

  .group4 {
    &.original {
      background-color: rgba(80, 142, 75, 0.3);
    }

    &.override {
      background-color: rgba(red(var(--secondary-color)), green(var(--secondary-color)), blue(var(--secondary-color)), 0.3);
    }
  }
}