@import "../../styles/lighten";

.lighten {
  .group1 {
    &.original {
      background-color: lighten(#4a5e8e, 20%);
    }

    &.override {
      background-color: lighten(var(--primary-color), 20%);
    }
  }
  
  .group2 {
    &.original {
      background-color: lighten(#4a5e8e, 3%);
    }

    &.override {
      background-color: lighten(var(--primary-color), 3%);
    }
  }
  
  .group3 {
    &.original {
      background-color: lighten(#508e4b, 20%);
    }

    &.override {
      background-color: lighten(var(--secondary-color), 20%);
    }
  }
  
  .group4 {
    &.original {
      background-color: lighten(#508e4b, 3%);
    }

    &.override {
      background-color: lighten(var(--secondary-color), 3%);
    }
  }
}