@import './helpers'; 

@function desaturateOverride($color, $amount) {
  @if (not _isCssVar($color)) {
    @return desaturate($color, $amount);
  }

  $hue: _toPart($color, "hue");
  $saturation: _toPart($color, "saturation");
  $lightness: _toPart($color, "lightness");

  @return hsl($hue, calc(#{$saturation} - #{$amount}%), $lightness); // compiles fine
}