@import './helpers';

@function invertOverride($color, $percent) {
  @if (not _isCssVar($color)) {
    @return invert($color, $percent);
  }

  $red:   _toPart($color, "red");
  $green: _toPart($color, "green");
  $blue:  _toPart($color, "blue");
  $alpha: _toPart($color, "alpha");

  $invertedRed: calc(255 - #{$red});
  $invertedGreen: calc(255 - #{$green});
  $invertedBlue: calc(255 - #{$blue});

  @return _colormix($invertedRed, $invertedGreen, $invertedBlue, $alpha,
          $red, $green, $blue, $alpha,
          $percent);
}