@import './helpers';

@function lightenOverride($color, $percent) {
  @if (not starts-with($color, 'var(--')) {
    @return lighten($color, $percent);
  }

  $hue:        toPart($color, "hue");
  $saturation: toPart($color, "saturation");
  $lightness:  toPart($color, "lightness");

  $newHue: $hue;
  $newSaturation: $saturation;
  $newLightness: calc(#{$lightness} + #{$percent});

  @return hsl($newHue, $newSaturation, $newLightness) ;
}