@import './helpers';

@function mixOverride($color1, $color2, $percent) {
  @if (not _isCssVar($color1) and not _isCssVar($color2)) {
    @return mix($color1, $color2, $percent);
  }

  $red1:   _toPart($color1, "red");
  $green1: _toPart($color1, "green");
  $blue1:  _toPart($color1, "blue");
  $alpha1: _toPart($color1, "alpha");

  $red2:   _toPart($color2, "red");
  $green2: _toPart($color2, "green");
  $blue2:  _toPart($color2, "blue");
  $alpha2: _toPart($color2, "alpha");

  @return _colormix($red1, $green1, $blue1, $alpha1,
          $red2, $green2, $blue2, $alpha2,
          $percent);
}