@import './helpers';

@function saturateOverride($color, $amount) {
  @if (not _isCssVar($color)) {
    @return saturate($color, $amount);
  }

  $hue: _toPart($color, "hue");
  $saturation: _toPart($color, "saturation");
  $lightness: _toPart($color, "lightness");

  $newSaturation: calc(#{$saturation} + #{$amount});

  @return hsl($hue, $newSaturation, $lightness);
}