@import './helpers';

@function saturateOverride($color, $amount) {
  @if (not starts-with($color, 'var(--')) {
    @return saturate($color, $amount);
  }

  $hue: toPart($color, "hue");
  $saturation: toPart($color, "saturation");
  $lightness: toPart($color, "lightness");

  $newSaturation: calc(#{$saturation} + #{$amount});

  @return hsl($hue, $newSaturation, $lightness);
}