@import './helpers';

@function transparentizeOverride($color, $amount) {
  @if (not _isCssVar($color)) {
    @return transparentize($color, $amount);
  }

  $red:   _toPart($color, "red");
  $green: _toPart($color, "green");
  $blue:  _toPart($color, "blue");
  $alpha: _toPart($color, "alpha");

  $newAlpha: calc(#{$alpha} - #{$amount});

  @return rgba($red, $green, $blue, $newAlpha) 
}