.original,
.override {
  padding: 0.2em 0.5em;
  margin: 0;
}

.table {
  tbody {
    tr {
      td:first-child {
        background-color: white;
      }
    }
    
    background-image: url('https://media.istockphoto.com/vectors/transparent-background-seamless-pattern-vector-vector-id875273764');
  }
}